<div class="helper-links">
    <div>
        <span class="icon"></span>
        <div class="link-text">
            <span> օգնությութ</span>
            <a class="secondary" href="">+374 99 76 66 64</a>
        </div>
    </div>
    <div>
        <span class="icon"></span>
        <div class="link-text" id="personal-page">
            <span>Ձեր</span>
            <span class="secondary">Անձնական էջը</span>
            <ul class="personal-page-dropdown">
                    <li><a href="javascript:void(0)">Իմ պատվերները</a></li>
                    <li class="active-link"><a href="javascript:void(0)">Իմ ֆայլերը</a></li>
                    <li><a href="javascript:void(0)">Փոխել անձնական տվյալները</a></li>
                </ul>
        </div>
       
    </div>
    <div>
        <span class="icon"></span>
        <div class="link-text">
            <span style="margin-top: 12px;">զամբյուղ</span>
        </div>
        <div class="cart-info">0</div>
    </div>
</div>