.helper-links {
    display: flex;
    justify-content: flex-end;
    background: white;
    width: 600px;
    margin-left: auto;
    padding: 5px 0;
    position: relative;
    z-index: 1;
    ul {
        position: absolute;
        top: 55px;
        left: 0;
        width: 400px;
        li {
            background-color: rgba(255,255,255, 0.5);
            padding: 7px 11px 5px;
            text-transform: initial;
            border-left: 1px solid rgba(255,255,255, 0.5);
        }
        li.active-link{
            border-left: 1px solid #af995a;
            background-color: #ebebeb;
        }
        a {
            color: #666666;
            font-size: 16px;
            &:hover {
                color: #af995a;
            }
        }
    }
    .link-text {
        display: flex;
        flex-wrap: wrap; 
        * {
            width: 100%;
            font-size: 14px
        }
    }
    .icon {
        background-image: url("../../assets/img/sprite.svg");
        background-size: 612px 792px;
        background-repeat: no-repeat;
    }
    .secondary { 
        color: #131313
    }
    .cart-info {
        border-radius: 30px;
        border: 1px solid #131313;
        width: 30px;
        height: 30px;
        text-align: center;
        color: #131313;
        vertical-align: middle;
        padding-top: 3px;
        font-size: 20px;
        margin-top: 4px;
        margin-left: 20px;
    }
    >div {
        width: 200px;
        border-right: 1px solid #af995a;
        height: 50px;
        padding-top: 7px;
        padding-left: 13px;
        color: #af995a;
        text-transform: uppercase;
        font-size: 18px;
        display: flex;
        position: relative;
        .icon {
            display: inline-block;
        }
    }
    >div:first-child {
        .icon {
            width: 106px;
            height: 39px;
            background-position: -436px -126px;
        }
    }
    >div:nth-child(2) {
        .icon {
            width: 47px;
            height: 37px;
            background-position: -499px -126px;
        }
    }
    >div:last-child {
        border: none;
        .icon {
            width: 47px;
            height: 37px;
            background-position: -389px -126px;
        }
    }
}
