<div class="helper-links" :class="{'logged-in': token}">
    <div>
        <span class="icon"></span>
        <a class="link-text" href="tel:+37499766664" v-if="appVersion=='am'">
            <span>{{ $t('message.help') }}</span>
            <span class="secondary">+374 99 76 66 64</span> 
        </a>
        <a class="link-text" href="tel:+3236004477" v-else>
            <span>{{ $t('message.help') }}</span>
            <span class="secondary">3236004477</span>
        </a>
    </div>
    <div id="personal-page" v-if="token">
        <span class="icon"></span>
        <div class="link-text" >
            <span>{{ $t('message.your') }}</span>
            <span class="secondary"> {{ $t('message.personalPage') }}</span>
            <ul class="personal-page-dropdown"> 
                <router-link tag="li" to="/orders">
                    <a>{{ $t('message.myOrders') }}</a>
                </router-link>
                <router-link tag="li" to="/profile">
                    <a>{{ $t('message.editProfile') }}</a>
                </router-link>
                <router-link tag="li" to="/change-password">
                    <a>{{ $t('message.changePasswordTitle') }}</a>
                </router-link>
            </ul>
        </div> 
    </div>
    <div v-if="token"  @click="$router.push({name:'Cart'})">
        <span class="icon"></span>
        <div class="link-text">
            <span style="margin-top: 12px;">{{ $t('message.cart') }}</span>
        </div>
        <div class="cart-info">{{ cartItems.length }}</div>
    </div>
</div>