<div class="forgot-pass-block">
    <form v-on:submit.prevent="onSubmit" 
         @submit="$v.recoveryMail.$touch();"> 
         <el-input class="password-recovery-input" 
             v-model="recoveryMail" 
             :class="{'has-error': $v.recoveryMail.$error}"
             :placeholder="$t('message.form.email')">
         </el-input> 
         <input type="submit" class="btn-submit btn-invert" :value="$t('message.form.recovery')">
         <a class="forgot-pass-link" @click="$emit('backToLogin')">{{ $t('message.form.back') }}</a> 
     </form>
 </div>