<div>
  <el-input class="search-input" 
      @input="onSearch" 
      :placeholder="$t('message.search')" 
      @focus="checkDropdown(false)"
      @blur="checkDropdown(true)" 
      v-model="search_key">
    <i slot="prefix" class="el-input__icon el-icon-search" @click="onSearch"></i>
  </el-input>
  <div v-if="showSearchResults" class="search-results">
    <ul class="search-dropdown">
      <li v-for="(item, index) in searchResults" :key="index"> 
        <router-link  
          :to="item.url" @click="closeMe"  >
          {{ item.name }} 
        </router-link> 
      </li>
      <li v-if="noResults">
        <span class="no-results">No results found</span>
      </li>
    </ul>
  </div>
</div>