<div>
    <pl-header></pl-header>
    <!-- <p>{{ $t("message.hello") }}</p> -->
    <div class="main-section" id="main-section">
       <big-slider></big-slider>
        <div class="content-area content-area1">
            <div class="main-inner"> 
                <div class="large-triangle1 triangles"></div>
                <div class="large-triangle2 triangles"></div>
                <!-- SERVICES -->
                <services></services> 
                <!-- ABOUT US -->
                <about></about>
                <!-- PROJECTS -->
                <projects></projects>
            </div>
            <!-- PROJECTS SLIDER -->
            <projects-slider></projects-slider> 
            <div class="content-area">
                <div class="main-inner z-indexed">
                    <a href="javascript:void(0)" class="btn-link link-type-2 see-all-link-portfolio2">{{ $t('message.seeMore') }}</a> 
                </div>
            </div>
            <span class="vert-line"></span>
            <div class="order-stripe">
                    <a href="javascript:void(0)" class="btn-link link-type-2 see-all-link-portfolio2">{{ $t('message.orderOnline') }}</a> 
            </div>
            <div class="main-inner inner-reviews">
                <reasons></reasons>
            </div>
            <div class="main-inner inner-reviews">
                <section class="testimonials-section">
                    <div class="section-title-place">
                        <div class="letter-divider">
                            <h6>05</h6>
                        </div>
                        <h5>{{ $t('message.staff') }}</h5>
                        <span class="vert-line"></span>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="parallax-bg" id="parallax1"></div>
    <div class="main-section"> 
        <div class="parallax-section" id="parallax-trigger">
            <!-- STAFF SECTION -->
            <swiper :options="swiperOption" class="staff-slider">
                <swiper-slide v-for="(item, index) in staff" :key="index">
                    <figure class="a-info-left">
                        <img :src="item.avatar" :alt="item.name">
                        <figcaption>
                            <span class="staff-name">{{ item.name }}</span>
                            <br>
                            <span class="staff-position">{{ item.position }}</span>
                        </figcaption>
                    </figure>
                    <p>{{ item.text }}</p>
                </swiper-slide>
                <div class="swiper-pagination" slot="pagination"></div>
            </swiper>
        </div> 
        <contact locale="locale"></contact> 
        <footer class="footer">
        </footer>
    </div>
</div>