<div class="products-slider-banner" id="mainSlider">
  <!-- Main Slider --> 
    <div class="banner-container" :class="{'single-image': sliderImages.length<2}">
      <el-carousel v-if="sliderImages.length" :autoplay="false" trigger="click" indicator-position="inside" height="400px" arrow="never" class="">
        <el-carousel-item v-for="(item,index) in sliderImages" :key="index" :style="item.imageStyle">
          <div class="print-slide-inner"> "
            <div class="offer-text">
               <p>{{ item.description }}</p> 
              <a :href="item.productLink" class="btn-link banner-btn">{{ $t('message.orderNow') }}</a>
            </div>
          </div>
        </el-carousel-item>
      </el-carousel>
    </div> 
</div>
<!-- <div class="offer-text">
    <p style="margin-bottom: 8px;">Պատվիրեք
      <span>1000</span>
    </p>
    <p style="margin-bottom: 25px;">այցեքարտ Ընդամենը</p>
    <p>
      <span>7000 </span>դրամով</p>
    <a href="" class="btn-link banner-btn">{{ $t('message.orderNow') }}</a>
  </div> -->