<div class="products-main">
    <div class="bordered-block br-cart">
        <h3 class="product-category-title">{{ $t('message.orderStatus') }}</h3>
        <el-tabs v-model="activeName" type="card" @tab-click="handleClick">
            <el-tab-pane :label="$t('message.orderStatus')" name="status"></el-tab-pane>
            <el-tab-pane :label="$t('message.completedOrders')" name="completed"></el-tab-pane>
            <el-tab-pane :label="$t('message.unapprovedOrders')" name="failed"></el-tab-pane>
        </el-tabs>
        <div class="table-container">
            <el-table :data="orders" stripe style="width: 100%" v-if="orders.length">
                <el-table-column prop="number" :label="$t('message.orderNumber')" width="180">
                </el-table-column>
                <el-table-column prop="approved_at" :label="$t('message.orderDate')" width="180">
                </el-table-column>
                <el-table-column prop="name" :label="$t('message.orderName')">
                </el-table-column>
                <el-table-column prop="status" :label="$t('message.orderStatus')" width="180">
                </el-table-column>
                <el-table-column prop="price" :label="$t('message.orderPrice')" width="180">
                </el-table-column>
                <el-table-column label=" " width="160px">
                    <template slot-scope="scope">
                        <a class="table-link"  href="javascript:void(0)">{{ $t('message.orderDetails') }}</a>
                    </template>
                </el-table-column>
            </el-table>
        </div>
    </div>
</div>