<div class="orders-table">
  <div class="bordered-block br-cart">
    <h3 class="product-category-title">{{ $t('message.orderStatus') }}</h3>
    <el-tabs v-model="activeTab" type="card" @tab-click="handleClick">
      <el-tab-pane :label="$t('message.orderStatus')" name="1"></el-tab-pane>
      <el-tab-pane :label="$t('message.completedOrders')" name="2"></el-tab-pane>
      <el-tab-pane :label="$t('message.unapprovedOrders')" name="3"></el-tab-pane>
    </el-tabs>

    <Preloader v-if="isLoading" class="prelaoder"></Preloader>

    <div class="table-container orders-table-container" v-else>
      <div id="wrapper">
        <table v-if="orderitems.length"> 
          <thead>
            <tr>
              <th>
                <div class="cell">{{ $t('message.orderNumber') }}</div>
              </th>
              <th>
                <div class="cell">{{ $t('message.orderDate') }}</div>
              </th>
              <th>
                <div class="cell">{{ $t('message.orderName') }}</div>
              </th>
              <th>
                <div class="cell">{{ $t('message.orderStatus') }}</div>
              </th>
              <th>
                <div class="cell">{{ $t('message.orderPrice') }}</div>
              </th>
              <th>
                <div class="cell">{{ $t('message.action') }}</div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item,index) in orderitems" :key="index">
              <td :data-label="$t('message.orderNumber')">{{ item.number }}</td>
              <td :data-label="$t('message.orderDate')">{{ item.approved_at }}</td>
              <td :data-label="$t('message.orderName')">{{ item.number }}</td>
              <td :data-label="$t('message.orderStatus')">{{ item.statusName }}</td>
              <td :data-label="$t('message.orderPrice')">{{ item.price }}</td>
              <td :data-label="$t('message.action')"> 
                <a class="table-link" @click="openOrderDetailPopup(item)">{{ $t('message.orderDetails') }}</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <OrderDetailsPopup 
    :order="currentOrder" 
    :visible="showSummary" 
    @close="onClose">
  </OrderDetailsPopup>
</div>
