<div class="orders-table">
  <div class="bordered-block br-cart">
    <h3 class="product-category-title">{{ $t('message.orderStatus') }}</h3>
    <el-tabs v-model="activeTab" type="card" @tab-click="handleClick">
      <el-tab-pane :label="$t('message.orderStatus')" name="1"></el-tab-pane>
      <el-tab-pane :label="$t('message.completedOrders')" name="2"></el-tab-pane>
      <el-tab-pane :label="$t('message.unapprovedOrders')" name="3"></el-tab-pane>
    </el-tabs>
    
    <Preloader v-if="isLoading" class="prelaoder"></Preloader>

    <div class="table-container orders-table-container" v-else>
      <el-table :data="cartItems" stripe style="width: 100%" v-if="cartItems.length">
        <el-table-column prop="number" :label="$t('message.orderNumber')" width="180">
        </el-table-column>
        <el-table-column prop="approved_at" :label="$t('message.orderDate')" width="180">
        </el-table-column>
        <el-table-column prop="name" :label="$t('message.orderName')" width="200">
        </el-table-column>
        <el-table-column prop="statusName" :label="$t('message.orderStatus')" width="160">
        </el-table-column>
        <el-table-column prop="price" :label="$t('message.orderPrice')" width="120">
        </el-table-column>
        <el-table-column  :label="$t('message.action')" width="180px">
          <template slot-scope="scope">
            <a class="table-link" @click="openOrderDetailPopup(scope.row)">{{ $t('message.orderDetails') }}</a>
          </template>
        </el-table-column>
      </el-table>
    </div>
  </div>
  <OrderDetailsPopup 
    :order="currentOrder" 
    :visible="showSummary"
    @close="showSummary=false"></OrderDetailsPopup> 
</div> 