<div class="products-main">
    <div class="bordered-block br-cart">
        <h3 class="product-category-title">զամբյուղ</h3>
        <div class="product-details-inner">
            <div class="cart-top">
                <div class="cart-images">
                    <div class="cart-img-container">
                        <img class="cart-img" src="http://via.placeholder.com/200x200"><h5>դիմաց</h5> 
                    </div>
                    <div class="cart-img-container">
                        <img class="cart-img" src="http://via.placeholder.com/200x200"><h5>հետեվ</h5>
                    </div>
                </div>
                <div class="cart-products"> 
                    <table>
                        <tr>
                            <td class="product-type">չափը</td>
                            <td>90մմ x 50մմ</td>
                        </tr>
                        <tr>
                            <td class="product-type">թղթի տեսակ</td>
                            <td>300 գրամ</td>
                        </tr>
                        <tr>
                            <td class="product-type">տպագրման կողմ</td>
                            <td>4+0</td>
                        </tr>
                        <tr>
                            <td class="product-type">կլորացված եզրեր</td>
                            <td>այո</td>
                        </tr>
                        <tr>
                            <td class="product-type">քանակ</td>
                            <td>100</td>
                        </tr>
                        <tr>
                            <td class="product-type">տպագրման ժամկետ </td>
                            <td>3 աշխատանքային օր</td>
                        </tr>
                    </table>
                  <div class="action">
                      <ul class="action-btns">
                          <li class="price-bold">2000</li>
                          <li class="btn-links">Հեռացնել</li>
                          <li class="btn-links">Ավելացնել նորը</li>
                          <li class="btn-links">Խմբագրել</li>
                        </ul>
                        <a class="btn-submit btn-white ">անվանումը</a>
                  </div>
                </div>
            </div>
            <div class="cart-bottom">
                <div class="cart-products"> 
                    <table class="table-1">
                        <tr>
                            <td class="product-type">Տպագրման արժեքը</td>
                            <td>2000 դր</td>
                        </tr>
                        <tr>
                            <td class="product-type">Զեղչ</td>
                            <td>0.00</td>
                        </tr>
                        <tr>
                            <td class="product-type">Առաքում</td>
                            <td>0.00</td>
                        </tr>
                        <tr>
                            <td class="product-type">Հարկ</td>
                            <td>0.00</td>
                        </tr> 
                        
                    </table>
                    <!-- total -->
                    <table class="table-2"> 
                        <tr>
                            <td class="product-type">Ընդհանուր գինը</td>
                            <td>2000</td>
                        </tr> 
                    </table>
                  </div>
               
            </div>
            <div class="pricing-cell">
                <a href="" class="link">Շարունակել պատվիրել</a>
                <a href="" class="btn-submit btn-invert">Վճարել</a>
            </div>
        </div>
    </div> 
</div>