.product-type {
    font-size: 16px;
    color: #666666;
    font-weight: bold;
    text-transform: uppercase;
    padding-right: 88px;
}
.cart-images {
    display: flex;
    .cart-img-container:first-child {
        margin-right: 25px
    }
}
.cart-img-container {
    text-align: center;
    h5 {
        font-size: 16px;
        text-transform: uppercase;
        color: #666666;
        padding-top: 3px
    }
}
.cart-top{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around;
    width: 100%;
    padding-bottom: 22px;
    border-bottom: 1px solid #af995a;
}
.cart-top:first-child .spacer {
    display: none;
}
.cart-products {
    margin-left: auto;
    display: flex;
}
td {
    line-height: 36px;
} 
 
tr td:last-child {
    text-align: right
}
 
.pricing-cell {
    display: flex;
    margin-left: auto;
    padding-top: 66px;
    .btn-submit {
        margin-top: 0;
        font-size: 24px;
        width: 220px
    }
    .link {
        font-size: 17px;
        color: #747474;
        text-transform: uppercase;
        padding-top: 12px;
        margin-right: 20px;
    }
}
.product-details-inner {
    padding-bottom: 160px;
}
.spacer {
    height: 39px; 
    width: 100%;
}
.empty-cart {
    p {
        padding: 100px 0 100px;
        text-align: center;
        height: 500px;
    }
}