<div class="banner" id="mainSlider">
  <div class="banner-nav-inner">
    <div class="slides-info-place">
      <span id="current-slide">{{ currentSlide }}</span>
      <span id="items-counter">{{ slidesLength }}</span>
    </div>
    <div class="social-place slider-social-btns">
     <social-media></social-media>
    </div>
  </div>
  <!-- Home slider  -->
  <swiper :options="swiperOption" class="staff-slider" ref="bigSlider">
    <swiper-slide>
      <div class="home-slide-inner">
      <logo-animation></logo-animation>
        <div class="main-banner-text banner1-text">
          <p>{{ $t('message.bannerText.text1') }}</p>
          <br>
          <p>{{ $t('message.bannerText.text2') }}</p>
        </div>
        <a @click="$router.push({name:'Categories',params: {id:1}})" class="btn-link banner-see-more-link">{{ $t('message.orderOnline') }}</a>
        <div class="banner-line"></div>
      </div>
    </swiper-slide>

    <swiper-slide class="big-slide-2">
      <div class="new-service-ad-texts main-banner-text" :class="{animated:showBoxes}">
        <p class="slideInLeft">{{ $t('message.sliderText1') }}</p>
        <br>
        <p class="big-text slideInRight">{{ $t('message.sliderText2') }}</p>
        <br>
        <p class="slideInLeft">{{ $t('message.sliderText3') }}</p>
      </div>
      <div class="new-service-types-boxes" :class="{animated:showBoxes}">
        <div class="service-item-container zoomIn">
          <div class="service-item">
            <span class="item-graphic"></span>
            <p>{{ $t('message.online_service_1') }}</p>
          </div>
          <div class="pointer fadeInLeft"></div>
        </div>
        <div class="service-item-container zoomIn">
          <div class="service-item">
            <span class="item-graphic"></span>
            <p>{{ $t('message.online_service_2') }}</p>
          </div>
          <div class="pointer fadeInLeft"></div>
        </div>
        <div class="service-item-container zoomIn">
          <div class="service-item">
            <span class="item-graphic"></span>
            <p>{{ $t('message.online_service_3') }}</p>
          </div>
          <div class="pointer fadeInLeft"></div>
        </div>
        <div class="service-item-container zoomIn">
          <div class="service-item">
            <span class="item-graphic"></span>
            <p>{{ $t('message.online_service_4') }}</p>
          </div>
        </div>
      </div>
      <a @click="$router.push({name:'Categories',params: {id:1}})" class="btn-link banner-see-more-link">{{ $t('message.orderOnline') }}</a>
      <div class="banner-line"></div>
    </swiper-slide>
    <div class="swiper-pagination big-slider-pagination" slot="pagination"></div>
  </swiper>
</div>
