.products-slider-banner {
    height: 400px;
    margin: 0 auto;
    width: 100%;
    #banner-dots2 {
        text-align: center;
        bottom: 12px;
    }
    .banner-dots .owl-dot.active span {
        background-position: -337px -139px;
    }
    .banner-dots .owl-dot span {
        background-position: -292px -139px;
    }
    .owl-carousel,
    .owl-item {
        height: 400px
    }
}

.banner-container {
    position: relative;
    height: 100%;
}

.owl-carousel .owl-item img.banner-offer {
    width: 438px;
    height: 200px;
}

.offer-text {
    font-family: 'Museo-Slab';
}

.product-items {
    display: flex;
    flex-wrap: wrap;
    >a:nth-child(4n) {
        margin-right: 0;
    }
}

.print-slide-inner {
    display: flex;
    justify-content: space-around;
    padding-top: 56px;
    .offer-text {
        font-family: Tahoma;
        text-transform: uppercase;
        font-size: 40px;
        color: #141414;
        padding-top: 30px;
        span {
            font-size: 60px;
            color: #af995a;
            line-height: 25px;
        }
    }
}

.products-sidebar {
    width: 300px;
    flex-shrink: 0;
    height: 100%;
    padding-bottom: 86px;
    z-index: 1;
    .sidebar-title {
        background: #000;
        color: white;
        text-transform: uppercase;
        min-height: 50px;
        line-height: 49px;
        font-size: 22px;
        padding-left: 36px;
    }
    .sidebar-subsection {
        padding-top: 22px;
        padding-left: 36px;
        h3 {
            color: #af995a;
            text-transform: uppercase;
            font-size: 14px;
            padding-bottom: 9px
        }
        li {
            padding-left: 21px;
            line-height: 23px;
            padding-bottom: 6px;
        }
        a {
            color: #0e0c0c;
            text-transform: uppercase;
            font-size: 13px;
            &:hover {
                color: #af995a;
            }
        }
    }
}

.tabs {
    display: flex;
    margin: 0 auto;
    width: 720px;
    .tab-item:nth-child(1),
    .tab-item:nth-child(2) {
        border-right: none
    }
}

.tab-item {
    color: #af995a;
    font-size: 17px;
    padding: 14px 26px;
    border: 1px solid #af995a;
    border-bottom: none;
    width: 240px;
    text-align: center;
    position: relative;
    text-transform: uppercase;
    cursor: pointer;
    i {
        display: none;
        position: absolute;
        bottom: -1px;
        width: 100%;
        border-bottom: 1px solid #fff;
        left: 0;
    }
}

.helper-links {
    display: flex;
    justify-content: flex-end;
    background: white;
    width: 600px;
    margin-left: auto;
    padding: 5px 0;
    .link-text {
        display: flex;
        flex-wrap: wrap; 
        * {
            width: 100%;
            font-size: 14px
        }
    }
    .icon {
        @extend .sprite;
    }
    .secondary { 
        color: #131313
    }
    .cart-info {
        border-radius: 30px;
        border: 1px solid #131313;
        width: 30px;
        height: 30px;
        text-align: center;
        color: #131313;
        vertical-align: middle;
        padding-top: 3px;
        font-size: 20px;
        margin-top: 4px;
        margin-left: 20px;
    }
    >div {
        width: 200px;
        border-right: 1px solid #af995a;
        height: 50px;
        padding-top: 7px;
        padding-left: 13px;
        color: #af995a;
        text-transform: uppercase;
        font-size: 18px;
        display: flex;
        .icon {
            display: inline-block;
        }
    }
    >div:first-child {
        .icon {
            width: 106px;
            height: 39px;
            background-position: -436px -126px;
        }
    }
    >div:nth-child(2) {
        .icon {
            width: 47px;
            height: 37px;
            background-position: -499px -126px;
        }
    }
    >div:last-child {
        border: none;
        .icon {
            width: 47px;
            height: 37px;
            background-position: -389px -126px;
        }
    }
}

.tab-item.active-tab {
    background: white;
    i {
        display: block
    }
}

.tab-content {
    background: white;
    min-height: 700px;
    padding: 30px; 
    p{
        width: 230px;
        line-height: 22px;
        padding-bottom: 80px;
    }
    .tab-inner {
        width: 800px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto;
        padding-top: 43px;
    }
}

.tab-content-container {
    border-top: 1px solid #af995a;
    div:nth-child(2),
    div:nth-child(3) {
        display: none
    }
}

.tabs-container {
    padding-top: 80px;
}

.subsection-container {
    border: 1px solid #af995a;
    border-top: none;
    background: #f5f5f5;
    padding-bottom: 86px;
}

.products-inner, .footer-inner {
    display: flex;
    width: 1440px;
    margin: 0 auto;
    position: relative;
}

.products-main {
    width: 100%;
    padding-left: 32px;
    position: relative;
    .product-category-title {
        text-transform: uppercase;
        color: #af995a;
        font-size: 30px;
        padding-bottom: 37px;
        padding-top: 39px
    }
    .product-item {
        width: 250px;
        height: 260px;
        border: 1px solid #af995a;
        img {
            width: 100%
        }
        margin-right: 36px;
        margin-bottom: 36px
    }
    .product-descr {
        padding: 11px 12px;
        position: relative;
        span {
            display: block;
            color: #5b5b5b;
            font-size: 14px;
            width: 224px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            position: absolute;
        }
        .product-name {
            font-size: 20px;
            text-transform: uppercase;
            color: #141414
        }
        .size {
            top: 37px;
        }
        .product-pricing {
            top: 63px;
            i {
                font-size: 16px;
                font-weight: bold;
                font-style: normal
            }
        }
    }
}

.banner-btn {
    background: #131313;
    border-color: #131313;
    color: white;
    display: inline-block;
    margin-top: 47px;
    font-size: 18px;
    &:hover {
        border-color: #af995a;
    }
}

.products-inner {
    .large-triangle1.tr-1 {
        width: 464px;
        height: 492px;
        top: 300px;
        right: auto;
        left: -30px;
    }
    .large-triangle1.tr-2 {
        width: 464px;
        height: 492px;
        top: 166px;
        right: 0;
        left: auto;
    }
    .large-triangle1.tr-3 {
        width: 464px;
        height: 492px;
        top: 1164px;
        right: 288px;
        left: auto;
        transform: rotate(-20deg);
    }
    .large-triangle1.tr-4 {
        top: 1813px;
        right: auto;
        left: -46px;
        transform: rotate(-20deg);
    }
}

.products-area {
    .logo-transparent {
        top: 1260px;
        bottom: 0;
        left: 50%;
        margin-left: -620px;
    }
}

.products-footer {
    height: 100%;
    background: #141414;
    padding-bottom: 20px;
}

.links-column{
    color: #f4f4f4;
    text-transform: uppercase; 
    margin-bottom: 30px;
    margin-right: 80px;
    h5 {
        font-size: 16px; 
        padding-bottom: 26px;
    }
    a {
        color: #7d7d7d;
        font-size:14px;
        line-height: 22px;
    }
}
.links-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 56px;
    .links-column:last-child{
        margin-right:0
    }
}
.footer-left {
    margin-right: 80px;
    .social-place {
        display: inline-flex;
        padding-bottom: 30px;
        h3 {
            padding-top: 13px;
            padding-right: 12px;
        }
    }
    h3 {
        color: #f4f4f4;
        font-size: 14px; 
    }
    .def-input  {
        max-width: 320px;
        margin-right: 15px;
    }
    .contact-us-btn {
        color: #f5f5f5
    }
    .subscription-form {
        .default-inp-row  {
            display: flex;
        }
        h3 {
            padding-bottom: 20px;
        }
        .btn-submit {
            color: #fff; 
            padding: 9px 10px 9px;
            font-size: 12px; 
            height: 38px;
        }
    }
}
