@media only screen and (max-width: 3000px) {
  .owl-carousel .owl-item .home-slider-320,
  .owl-carousel .owl-item .home-slider-768 {
    display: none;
  }
  .owl-carousel .owl-item .home-slider-1900 {
    display: block;
  }
}
@media only screen and (min-width: 866px) {
  .fixed-slider {
    z-index: 10 !important;
  }

  .scrolling-content > div {
    z-index: 10 !important;
  }
}
@media only screen and (max-width: 754px) {
  .shopping-categories .shopping-categories-container {
    width: 562px;
  }
  .shopping-categories .shopping-categories-container a.shop-cat-item:nth-child(4n) {
    margin-right: 24px;
  }
  .shopping-categories .shopping-categories-container a.shop-cat-item:nth-child(3n) {
    margin-right: 0;
  }
}
@media only screen and (max-width: 75em) {
  .footer .footer-inner {
    width: 100%;
  }
}
@media only screen and (max-width: 864px) {
  .footer {
    position: relative !important;
  }
  .footer .info-block {
    float: none;
    text-align: center;
  }
  .footer .footer-inner {
    width: 100%;
  }
  .footer .footer-left {
    float: none;
    width: 100%;
    text-align: center;
  }
  .footer .footer-right {
    float: left;
    width: 100%;
  }
  .footer .footer-logo {
    float: none;
    margin: 0 auto 21px;
  }
  .footer .footer-bottom {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .footer .footer-bottom .left-side {
    margin-bottom: 13px;
    width: 100%;
  }
  .footer .footer-bottom .right-side {
    margin-bottom: 3px;
    margin-right: 0;
  }
  .footer .social-block-1 {
    display: none;
  }
  .footer .social-block-2 {
    display: block;
  }
}
@media only screen and (max-width: 600px) {
  .shopping-categories .shopping-categories-container {
    width: 390px;
  }
  .shopping-categories .shopping-categories-container a.shop-cat-item:nth-child(even) {
    margin-right: 0;
  }
  .shopping-categories .shopping-categories-container a.shop-cat-item:nth-child(odd) {
    margin-right: 24px;
  }
}
@media only screen and (max-width: 1222px) {
  .blog-section .blog-items {
    width: 770px;
  }
  .blog-section .blog-items .blog-item:nth-child(even) {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .filter-dropdown-container {
    width: 870px;
  }

  .products-tickets-container {
    width: 870px;
  }
  .products-tickets-container .product-ticket-item:nth-child(4n) {
    margin-right: 24px;
  }
  .products-tickets-container .product-ticket-item:nth-child(3n) {
    margin-right: 0;
  }
}
@media only screen and (max-width: 926px) {
  .filter-dropdown-container {
    width: 566px;
    margin: 200px auto 0;
  }

  .products-tickets-container {
    width: 566px;
  }
  .products-tickets-container .product-ticket-item:nth-child(odd) {
    margin-right: 24px;
  }
  .products-tickets-container .product-ticket-item:nth-child(even) {
    margin-right: 0;
  }
}
@media only screen and (max-width: 566px) {
  .filter-dropdown-container {
    width: 270px;
    margin: 200px auto 0;
  }

  .products-tickets-container {
    width: 270px;
  }
  .products-tickets-container .product-ticket-item:nth-child(odd) {
    margin-right: 24px;
  }
  .products-tickets-container .product-ticket-item:nth-child(even) {
    margin-right: 24px;
  }
}
@media only screen and (max-width: 800px) {
  .home-slider-container .owl-carousel .owl-item {
    height: 522px;
  }

  .menu-bar-address {
    position: absolute;
    left: 50%;
    margin-left: -77px;
  }

  .nav,
  .logo-white,
  .logo-blue {
    display: none !important;
  }

  .slider-space,
  .mobile-nav {
    display: block;
  }

  .nav-white-bg .hamburger-blue {
    opacity: 1;
    display: block;
  }
  .nav-white-bg .hamburger-white {
    opacity: 0;
    display: none;
  }
}
@media only screen and (max-width: 48em) {
  .menu-bar-address {
    position: absolute;
    left: 50%;
    margin-left: -77px;
  }

  .contact-form-right label.error {
    top: 33px;
  }

  .owl-dots {
    bottom: 31px;
  }

  .social-icons {
    margin-top: 40px;
    margin-bottom: 11px;
  }

  .social-icons.social-block-1 {
    display: none;
  }

  .social-icons.social-block-2 {
    display: block;
  }

  .form-container {
    width: 370px;
    max-width: 90%;
  }
  .form-container textarea.def-input {
    margin-top: 0;
    max-width: auto;
    width: 100%;
  }
  .form-container .contact-form-left,
  .form-container .contact-form-right {
    float: none;
    text-align: center;
    width: 100%;
    padding-right: 0;
  }
  .form-container .contact-form-left {
    padding-right: 0;
  }
  .form-container .btn-submit {
    float: none;
  }
}
@media only screen and (max-width: 610px) {
  .home-slider-container .owl-carousel .owl-item {
    height: 380px;
  }
}
@media only screen and (max-width: 30em) {
  .home-slider-container .owl-carousel .owl-item {
    height: 340px;
  }

  .menu-btn {
    right: 25px;
  }

  .responsive-menu .remodal-close {
    right: 25px;
  }

  .owl-nav-custom {
    display: none;
  }

  .nav-hidden .logo-place {
    width: 70px;
    height: 55px;
    background-position: -573px -115px;
    margin-top: 18px;
    margin-left: 15px;
  }

  .logo-place {
    width: 70px;
    height: 55px;
    background-position: -469px -114px;
    margin-top: 18px;
    margin-left: 15px;
  }

  .footer .info-block {
    font-size: 16px;
    margin-top: 2px;
    width: 100%;
    line-height: 20px;
  }

  .footer .footer-bottom .left-side {
    line-height: 17px;
    margin-bottom: 16px;
  }

  .form-container {
    width: 100%;
    max-width: 100%;
  }

  .owl-dots {
    bottom: 15px;
  }
}
@media only screen and (max-width: 20em) {
  .menu-bar-address {
    font-size: 16px;
  }

  .owl-carousel .owl-item .home-slider-768,
  .owl-carousel .owl-item .home-slider-1900 {
    display: none;
  }
  .owl-carousel .owl-item .home-slider-320 {
    display: block;
  }

  .contact-form {
    margin-top: 34px;
  }
}
@media only screen and (max-width: 690px) {
  .j-header-transparent.j-header-hide.j-header-show .logo-place,
  .j-header-transparent.j-header-show.j-header-show .logo-place {
    background-position: -906px 192px !important;
  }

  .remodal-wrapper {
    bottom: -481px;
  }

  .remodal {
    border-radius: 0px;
  }
  .remodal .logo-popup {
    margin-bottom: 24px;
    margin-top: 10px;
  }
}
