@media only screen and (max-width: 1440px) {
    .main-inner {
        width: 100%;
        padding: 0 30px;
    }
    .section-about-us-inner {
        width: 100%;
    }
    .nav-bar {
        padding-left: 30px;
    }
}
@media only screen and (max-width: 1150px) {
    .small-triangle1,
    .small-triangle2,
    .small-triangle3,
    .small-triangle4 {
        display: none
    }
    .counters-place .counter-box {
        width: 190px;
    }
    .counter-box {
        .counter-nums {
            font-size: 50px;
            padding-bottom: 9px;
        }
        .counter-info {
            font-size: 14px
        }
    }
    .counters-place .counter-box:last-child {
        width: 86px;
    }
    .availability {
        text-align: center
    }
    .form-place {
        width: 395px;
        margin: 0 auto;
    }
    .form-container .def-input {
        width: 395px
    }
    .btn-submit {
        float: none
    }
    .row-btn {
        text-align: center
    }
    .contact-us-p {
        text-align: center;
    }
    .info-platinumink-am {
        text-align: center
    }
    .social-place {
        text-align: center
    }
    .footer-social-links {
        text-align: center;
        margin: 0 auto;
        width: 132px;
        li:last-child {
            a {
                margin-right: 0
            }
        }
    }
    .rights-info {
        padding-bottom: 45px;
        text-align: center
    }
    .sidemenu  {display: none}
    .menu-toggler-container {display: block}
}

@media only screen and (max-width: 1010px) {
    .portfolio-links {
        display: none
    }
    .partners-inner {
        display: flex;
        flex-direction: column-reverse;
        margin: 0 auto;
        width: 460px;
    }
}
