<div class="products-main">
  <div class="bordered-block br-cart">
    <h3 class="product-category-title">{{ $t('message.upload.mainHeading') }}</h3>
    <div class="product-details-inner">
      <div class="sign-up-top">
        <p>{{ $t('message.upload.heading1') }}:
          <br>{{ $t('message.upload.heading2') }}:
        </p>
      </div>
      <form 
        v-on:submit.prevent="onSubmitSignup" 
        @submit="$v.first_name.$touch();$v.last_name.$touch();$v.email.$touch();$v.companyName.$touch();$v.password.$touch();$v.passwordConfirm.$touch();$v.phone.$touch();">
        <div class="sign-up-bottom">
          <div class="left">
            <table class="table-2">
              <tr>
                <td>{{ $t('message.upload.type') }}</td>
                <td>
                  <el-select 
                      v-model="selectedProduct" 
                      :placeholder="$t('message.select')"
                      @change="onDropDownChange">
                    <el-option 
                      v-for="(item, key) in productList" :key="key" 
                      :label="item.name" 
                      :value="item.id">
                    </el-option>
                  </el-select>
                </td>
              </tr>
              
              <tr>
                <td>{{ $t('message.upload.length') }}</td>
                <td>
                  <el-input v-model="formData.length" :class="{'has-error': $v.companyName.$error}"></el-input> 
                </td>
              </tr>
              <tr>
                <td>{{ $t('message.upload.width') }}</td>
                <td>
                  <el-input v-model="email" :class="{'has-error': $v.email.$error}"></el-input>
                </td>
              </tr> 
              <tr>
                <td>{{ $t('message.upload.colors') }}</td>
                <td>
                  <el-input type="text" v-model="formData.colors" :class="{'has-error': $v.passwordConfirm.$error}"></el-input>
                </td>
              </tr> 
              <tr>
                <td>{{ $t('message.signup.phone') }}</td>
                <td class="custom-picker">
                    <el-input type="text" v-model="phone" :class="{'has-error': $v.phone.$error}"></el-input> 
                </td>
              </tr>
            </table>
          </div>
          <div class="right"> 
            <div class="list-container">
              
            </div> 
            
            <input type="submit" class="btn-submit btn-invert" :value="$t('message.signup.info8')">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>