<section class="services-section" id="section-services">
    <div class="section-title-place">
        <div class="letter-divider">
            <h6>01</h6>
        </div>
        <h5>{{ $t('message.services.title') }}</h5>
        <span class="vert-line"></span>
    </div>

    <div class="services-inner flex-section boxes-type-1" id="service-boxes">
        <div class="services-box service-box-large" onclick="void(0)">
            <div class="box-image"></div>
            <h2 class="box-title">{{ $t('message.services.design') }} </h2>
            <a href="javascript:void(0)" class="service-read-more">{{ $t('message.readMore') }}
                    <i class="services-more-i"></i>
                </a>
        </div>
        <div class="services-box service-box-large" onclick="void(0)">
            <div class="box-image"></div>
            <h2 class="box-title">{{ $t('message.services.advertising') }} </h2>
            <a href="javascript:void(0)" class="service-read-more">{{ $t('message.readMore') }}
                    <i class="services-more-i"></i>
                </a>
        </div>
        <div class="services-box service-box-large" onclick="void(0)">
            <div class="box-image"></div>
            <h2 class="box-title">{{ $t('message.services.printing') }} </h2>
            <a href="javascript:void(0)" class="service-read-more">{{ $t('message.readMore') }}
                    <i class="services-more-i"></i>
                </a>
        </div>
    </div>
</section>