<div class="portfolio">
  <Header />

  <div class="main-section content-area" :class="{'is-visible':showContent}">
    <div class="portfolio-grid">
      <div class="grid" v-if="completedWorks.length">
        <isotope :list="completedWorks" :options='getOptions()'>
          <div class="grid-item" v-for="(element, index) in completedWorks" :key="index" @click="openPopup(element)">
            <div :style="element.imageStyle" class="item-bg"></div>
            <div class="shirma"></div>
            <div class="item-text-place">
              <h1 class="item-title">{{ element.title }}</h1>
              <div class="line"></div>
            </div>
          </div>
        </isotope>
      </div>
    </div>
    <Footer />
  </div>
  
  <PortfolioPopup 
    :currentSlide="currentSlide"
    v-on:closePopup="closePopup" 
    v-on:navigate="navigate"
    v-show="popupVisible">
  </PortfolioPopup> 
</div>
