<div class="products-main" style="padding-left: 35px;"> 
    <h3 class="product-category-title">{{ categoryName }}</h3>
    <div class="product-items">
        <a class="product-item" :href="product.href" v-for="product in productList">
            <img :src="product.image">
            <div class="product-descr">
                <span class="product-name">{{ product.name }}</span>
                <span class="size">{{ product.size }}</span>
                <span class="product-pricing">{{ product.short_description }} <i>{{ product.price }}</i> դրամից</span>
            </div>
        </a> 
    </div> 
</div>