<div class="tabs-container">
  <tabs :tabs="tabs" @tab-changed="onTabChange"></tabs>
  <div class="tab-content-container">
    <div class="tab-content" v-if="activeTab==1">
      <div class="tab-inner">
        <ul class="download-links">
          <li>
            <a download href="../../../static/pdf/10x21.flyer.pdf">
              <div class="link-box">
                <img src="https://via.placeholder.com/200X200" alt="">
                <div class="link-caption">{{ $t('message.pdf.n1') }}</div>
              </div>
            </a>
          </li>
          <li>
            <a download href="../../../static/pdf/A4. 1 fold brochure inside.pdf">
              <div class="link-box">
                <img src="https://via.placeholder.com/200X200" alt="">
                <div class="link-caption">{{ $t('message.pdf.n1') }}</div>
              </div>
            </a>
          </li>
          <li>
            <a download href="../../../static/pdf/10x21.flyer.pdf">
              <div class="link-box">
                <img src="https://via.placeholder.com/200X200" alt="">
                <div class="link-caption">{{ $t('message.pdf.n1') }}</div>
              </div>
            </a>
          </li>
          <li>
            <a download href="../../../static/pdf/A4. 1 fold brochure inside.pdf">
              <div class="link-box">
                <img src="https://via.placeholder.com/200X200" alt="">
                <div class="link-caption">{{ $t('message.pdf.n1') }}</div>
              </div>
            </a>
          </li>
          <li>
            <a download href="../../../static/pdf/10x21.flyer.pdf">
              <div class="link-box">
                <img src="https://via.placeholder.com/200X200" alt="">
                <div class="link-caption">{{ $t('message.pdf.n1') }}</div>
              </div>
            </a>
          </li>
          <li>
            <a download href="../../../static/pdf/A4. 1 fold brochure inside.pdf">
              <div class="link-box">
                <img src="https://via.placeholder.com/200X200" alt="">
                <div class="link-caption">{{ $t('message.pdf.n1') }}</div>
              </div>
            </a>
          </li>
          <li>
            <a download href="../../../static/pdf/10x21.flyer.pdf">
              <div class="link-box">
                <img src="https://via.placeholder.com/200X200" alt="">
                <div class="link-caption">{{ $t('message.pdf.n1') }}</div>
              </div>
            </a>
          </li>
          <li>
            <a download href="../../../static/pdf/A4. 1 fold brochure inside.pdf">
              <div class="link-box">
                <img src="https://via.placeholder.com/200X200" alt="">
                <div class="link-caption">{{ $t('message.pdf.n1') }}</div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="tab-content" v-else-if="activeTab==2">

    </div>

  </div>
</div>
