<div class="tabs-container">
  <tabs :tabs="tabs" @tab-changed="onTabChange"></tabs>
  <div class="tab-content-container">
    <div class="tab-content" v-if="activeTab==1">
      <div class="tab-inner">
        <ul class="download-links">
          <li v-for="(item, index) in links" >
            <a download :href="item.pdf">
              <div class="link-box">
                <img :src="item.image" :alt="item.name">
                <div class="link-caption">{{ item.name }}</div>
              </div>
            </a>
          </li> 
          <li v-for="(item, index) in links" >
              <a download :href="item.pdf">
                <div class="link-box">
                  <img :src="item.image" :alt="item.name">
                  <div class="link-caption">{{ item.name }}</div>
                </div>
              </a>
            </li> 
            <li v-for="(item, index) in links" >
                <a download :href="item.pdf">
                  <div class="link-box">
                    <img :src="item.image" :alt="item.name">
                    <div class="link-caption">{{ item.name }}</div>
                  </div>
                </a>
              </li> 
              <li v-for="(item, index) in links" >
                  <a download :href="item.pdf">
                    <div class="link-box">
                      <img :src="item.image" :alt="item.name">
                      <div class="link-caption">{{ item.name }}</div>
                    </div>
                  </a>
                </li> 
        </ul>
      </div>
    </div>
    <div class="tab-content" v-else-if="activeTab==2">

    </div>

  </div>
</div>
