<footer class="products-footer">
    <div class="footer-inner">
        <div class="footer-left">
            <div class="social-place">
                <h3>Միացեք մեր էջերին</h3>
                <ul class="footer-social-links">
                    <li class="social-icons fb">
                        <a href="https://www.facebook.com/PlatiniumInk/" class="fb-link"></a>
                    </li>
                    <li class="social-icons in">
                        <a href="https://www.linkedin.com/profile/edit?trk=nav_responsive_sub_nav_edit_profile" class="in-link"></a>
                    </li>
                    <li class="social-icons ins">
                        <a href="https://www.instagram.com/platinuminkdesign/" class="ins-link"></a>
                    </li>
                </ul>
            </div>

            <div class="subscription-form">
                <h3>Բաժանորդագրվեք մեր նորություններին</h3>
                <div class="form-container">
                    <form class="subscription-form" id="form-contact-us" name="contact_form">
                        <div class="default-inp-row">
                            <input id="contact_email" class="def-input" type="email" placeholder="էլ-փոստ" name="contact_email" v-model="email">
                            <input type="submit" @click.prevent="submit" class="btn-submit" id="contact-us-btn" value="բաժանորդագրվել">
                        </div>
                    </form>
                </div>
            </div>
            <p class="rights-info">
                Բոլոր հեղինակային իրավունքները պաշտպանված
                <br> են © 2010-2017 Platinum Ink Design.
            </p>
        </div>
        <div class="links-container">
            <div class="links-column">
                <h5> Let Us Help</h5>
                <ul>
                    <li><a href="javascript:void(0)">Help center</a></li>
                    <li><a href="javascript:void(0)">Contact us</a></li>
                    <li><a href="javascript:void(0)">Shipping & delivery</a></li>
                    <li><a href="javascript:void(0)">Request samples</a></li>
                </ul>
            </div>
            <div class="links-column">
                <h5>What We Offer</h5>
                <ul>
                    <li><a href="javascript:void(0)">Our products</a></li>
                    <li><a href="javascript:void(0)">Upload designs</a></li>
                    <li><a href="javascript:void(0)">Advertising with us</a></li>
                    <li><a href="javascript:void(0)">Reseller program</a></li>
                    <li><a href="javascript:void(0)">Popular searches</a></li>
                </ul>
            </div>
            <div class="links-column">
                <h5>Our Company</h5>
                <ul>
                    <li><a href="javascript:void(0)">About us</a></li>
                    <li><a href="javascript:void(0)">Careers</a></li>
                    <li><a href="javascript:void(0)">For media</a></li>
                    <li><a href="javascript:void(0)">For investors</a></li>
                    <li><a href="javascript:void(0)">Webs</a></li>
                </ul>
            </div>
            <div class="links-column">
                <h5>Our Policies</h5>
                <ul>
                    <li><a href="javascript:void(0)">Copyright matters</a></li>
                    <li><a href="javascript:void(0)">Trademark matters </a></li>
                    <li><a href="javascript:void(0)">Patents & trademarks</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>