<footer class="products-footer">
  <div class="footer-inner">
    <div class="footer-left">
      <div class="social-place">
        <h3>{{ $t('message.shoppingFooter.joinOurPage') }}</h3>
        <social-media></social-media>
      </div>

      <div class="subscription-form">
        <h3>{{ $t('message.shoppingFooter.letsHelp') }}</h3>
        <div class="form-container">
          <form 
              v-on:submit.prevent="onSubmit" 
              @submit="$v.email.$touch();" class="subscription-form" name="contact_form">
            <div class="default-inp-row">
              <input 
                v-model="email" 
                :class="{'has-error': $v.email.$error}" 
                class="def-input" type="email" placeholder="էլ-փոստ" 
                name="contact_email">
              <input type="submit" class="btn-submit" :value="$t('message.subscribe')">
            </div>
          </form>
        </div>
      </div>
      <p class="rights-info" v-html="customData.copyright"> 
      </p>
    </div>
    <div class="links-container">
      <div class="links-column">
        <h5>{{ $t('message.shoppingFooter.helpCenter') }}</h5>
        <ul>
          <li>
            <a href="javascript:void(0)">{{ $t('message.shoppingFooter.helpCenter') }}</a>
          </li>
          <li>
            <a href="javascript:void(0)">{{ $t('message.shoppingFooter.contactUs') }}</a>
          </li>
          <li>
            <a href="javascript:void(0)">{{ $t('message.shoppingFooter.shippingAndDelivery') }}</a>
          </li>
          <li>
            <a href="javascript:void(0)">{{ $t('message.shoppingFooter.requestSamples') }}</a>
          </li>
        </ul>
      </div>
      <div class="links-column">
        <h5>{{ $t('message.shoppingFooter.whatWeOffer') }}</h5>
        <ul>
          <li>
            <a href="javascript:void(0)">{{ $t('message.shoppingFooter.ourProducts') }}</a>
          </li>
          <li>
            <a href="javascript:void(0)">{{ $t('message.shoppingFooter.uploadDesigned') }}</a>
          </li>
          <li>
            <a href="javascript:void(0)">{{ $t('message.shoppingFooter.adWithUs') }}</a>
          </li>
          <li>
            <a href="javascript:void(0)">{{ $t('message.shoppingFooter.reseller') }}</a>
          </li>
          <li>
            <a href="javascript:void(0)">{{ $t('message.shoppingFooter.popularSearches') }}</a>
          </li>
        </ul>
      </div>
      <div class="links-column">
        <h5>{{ $t('message.shoppingFooter.ourCompany') }}</h5>
        <ul>
          <li>
            <a href="javascript:void(0)">{{ $t('message.shoppingFooter.aboutUs') }}</a>
          </li>
          <li>
            <a href="javascript:void(0)">{{ $t('message.shoppingFooter.carrers') }}</a>
          </li>
          <li>
            <a href="javascript:void(0)">{{ $t('message.shoppingFooter.forMedia') }}</a>
          </li>
          <li>
            <a href="javascript:void(0)">{{ $t('message.shoppingFooter.forInvestors') }}</a>
          </li>
          <li>
            <a href="javascript:void(0)">{{ $t('message.shoppingFooter.webs') }}</a>
          </li>
        </ul>
      </div>
      <div class="links-column">
        <h5>{{ $t('message.shoppingFooter.ourPolicies') }}</h5>
        <ul>
          <li>
            <a href="javascript:void(0)">{{ $t('message.shoppingFooter.copyrigthtMatters') }}</a>
          </li>
          <li>
            <a href="javascript:void(0)">{{ $t('message.shoppingFooter.trademark') }}</a>
          </li>
          <li>
            <a href="javascript:void(0)">{{ $t('message.shoppingFooter.patentTrademarks') }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
