<div class="sliders-place noselect">
    <div class="landing-wrapper" data-tabId="graphicsTab" id="graphicsTab">
        <div class="landing-inner-content" id="graphics_slider">
            <div class="box">
                <img class="open-popup-link mfp-prevent-close" src="../../../../static/img/portfolio/thumbnails/Avangard.jpg" data-mfp-src="../../../../static/img/portfolio/Avangard_1200px_Card.jpg" alt="Avangard" magnific-popup>
            </div>
            <div class="box">
                <div class="box-content">
                    <img class="open-popup-link mfp-prevent-close" src="../../../../static/img/portfolio/thumbnails/Green_Art.jpg" data-mfp-src="../../../../static/img/portfolio/Green_Art.jpg" alt="Green Art" magnific-popup>
                </div>
            </div>
            <div class="box">
                <div class="box-content">
                    <img class="open-popup-link mfp-prevent-close" src="../../../../static/img/portfolio/thumbnails/Hay_Amerikyan.jpg" data-mfp-src="../../../../static/img/portfolio/Hay_Amerikyan.jpg" alt="Hay Amerikyan aroxjutyan kentron" magnific-popup>
                </div>
            </div>
            <div class="box">
                <div class="box-content">
                    <img class="open-popup-link mfp-prevent-close" src="../../../../static/img/portfolio/thumbnails/Lider_Class.jpg" data-mfp-src="../../../../static/img/portfolio/Lider_Class.jpg" alt="Lider Class" magnific-popup>
                </div>
            </div>
            <div class="box">
                <div class="box-content">
                    <img class="open-popup-link mfp-prevent-close" src="../../../../static/img/portfolio/thumbnails/Major_travel.jpg" data-mfp-src="../../../../static/img/portfolio/Major_travel.jpg" alt="Major travel" magnific-popup>
                </div>
            </div>
            <div class="box box-6">
                <div class="box-content">
                    <img class="open-popup-link mfp-prevent-close" src="../../../../static/img/portfolio/thumbnails/Majorica.jpg" data-mfp-src="../../../../static/img/portfolio/Majorica.jpg" alt="Majorica" magnific-popup>
                </div>
            </div>
            <div class="box">
                <div class="box-content">
                    <img class="open-popup-link mfp-prevent-close" src="../../../../static/img/portfolio/thumbnails/andy.jpg" data-mfp-src="../../../../static/img/portfolio/andy.jpg" alt="Andy" magnific-popup>
                </div>
            </div>
            <div class="box">
                <div class="box-content">
                    <img class="open-popup-link mfp-prevent-close" src="../../../../static/img/portfolio/thumbnails/adela.jpg" data-mfp-src="../../../../static/img/portfolio/adela.jpg" alt="Adela" magnific-popup>
                </div>
            </div>
            <div class="box">
                <div class="box-content">
                    <img class="open-popup-link mfp-prevent-close" src="../../../../static/img/portfolio/thumbnails/furniture card.jpg" data-mfp-src="../../../../static/img/portfolio/furniture card.jpg" alt="Furniture" magnific-popup>
                </div>
            </div>
            <div class="box">
                <div class="box-content">
                    <img class="open-popup-link mfp-prevent-close" src="../../../../static/img/portfolio/thumbnails/eterniti.jpg" data-mfp-src="../../../../static/img/portfolio/eterniti.jpg" alt="Eternity auto Group" magnific-popup>
                </div>
            </div>
            <div class="box">
                <div class="box-content">
                    <img class="open-popup-link mfp-prevent-close" src="../../../../static/img/portfolio/thumbnails/dr-Ike.jpg" data-mfp-src="../../../../static/img/portfolio/dr Ike.jpg" alt="Doctor Ike" magnific-popup>
                </div>
            </div>

            <div class="box">
                <div class="box-content">
                    <img class="open-popup-link mfp-prevent-close" src="../../../../static/img/portfolio/thumbnails/Credit-fix.jpg" data-mfp-src="../../../../static/img/portfolio/Credit fix.jpg" alt="Credit fix pro" magnific-popup>
                </div>
            </div>
            <div class="box">
                <div class="box-content">
                    <img class="open-popup-link mfp-prevent-close" src="../../../../static/img/portfolio/thumbnails/core.jpg" data-mfp-src="../../../../static/img/portfolio/core.jpg" alt="Core fireplace" magnific-popup>
                </div>
            </div>
            <div class="box">
                <div class="box-content">
                    <img class="open-popup-link mfp-prevent-close" src="../../../../static/img/portfolio/thumbnails/Furniture.jpg" data-mfp-src="../../../../static/img/portfolio/Furniture.jpg" alt="Furniture" magnific-popup>
                </div>
            </div>
            <div class="box">
                <div class="box-content">
                    <img class="open-popup-link mfp-prevent-close" src="../../../../static/img/portfolio/thumbnails/Vaneni.jpg" data-mfp-src="../../../../static/img/portfolio/Vaneni.jpg" alt="Vaneni" magnific-popup>
                </div>
            </div>
            <div class="box">
                <div class="box-content">
                    <img class="open-popup-link mfp-prevent-close" src="../../../../static/img/portfolio/thumbnails/Karas.jpg" data-mfp-src="../../../../static/img/portfolio/Karas.jpg" alt="Karas" magnific-popup>
                </div>
            </div>
            <div class="box">
                <div class="box-content">
                    <img class="open-popup-link mfp-prevent-close" src="../../../../static/img/portfolio/thumbnails/tanning.jpg" data-mfp-src="../../../../static/img/portfolio/tanning.jpg" alt="Tanning" magnific-popup>
                </div>
            </div>
            <div class="box">
                <div class="box-content">
                    <img class="open-popup-link mfp-prevent-close" src="../../../../static/img/portfolio/thumbnails/rush.jpg" data-mfp-src="../../../../static/img/portfolio/rush.jpg" alt="Rush" magnific-popup>
                </div>
            </div>
            <div class="box">
                <div class="box-content">
                    <img class="open-popup-link mfp-prevent-close" src="../../../../static/img/portfolio/thumbnails/royal-meat.jpg" data-mfp-src="../../../../static/img/portfolio/royal meat.jpg" alt="Royal meat" magnific-popup>
                </div>
            </div>
            <div class="box">
                <div class="box-content">
                    <img class="open-popup-link mfp-prevent-close" src="../../../../static/img/portfolio/thumbnails/royal-express.jpg" data-mfp-src="../../../../static/img/portfolio/royal express.jpg" alt="Royal express" magnific-popup>
                </div>
            </div>
            <div class="box">
                <div class="box-content">
                    <img class="open-popup-link mfp-prevent-close" src="../../../../static/img/portfolio/thumbnails/hair2faces.jpg" data-mfp-src="../../../../static/img/portfolio/hair2faces.jpg" alt="Hair 2 faces" magnific-popup>
                </div>
            </div>
            <div class="box">
                <div class="box-content">
                    <img class="open-popup-link mfp-prevent-close" src="../../../../static/img/portfolio/thumbnails/vaneni-brochure.jpg" data-mfp-src="../../../../static/img/portfolio/vaneni brochure.jpg" alt="Vanini" magnific-popup>
                </div>
            </div>

            <div class="box">
                <div class="box-content">
                    <img class="open-popup-link mfp-prevent-close" src="../../../../static/img/portfolio/thumbnails/finca.jpg" data-mfp-src="../../../../static/img/portfolio/finca.jpg" alt="" magnific-popup>
                </div>
            </div>
            <div class="box">
                <div class="box-content">
                    <img class="open-popup-link mfp-prevent-close" src="../../../../static/img/portfolio/thumbnails/master.jpg" data-mfp-src="../../../../static/img/portfolio/master.jpg" alt="" magnific-popup>
                </div>
            </div>
            <div class="box">
                <div class="box-content">
                    <img class="open-popup-link mfp-prevent-close" src="../../../../static/img/portfolio/thumbnails/range.jpg" data-mfp-src="../../../../static/img/portfolio/range.jpg" alt="Range Rover" magnific-popup>
                </div>
            </div>
            <div class="box">
                <div class="box-content">
                    <img class="open-popup-link mfp-prevent-close" src="../../../../static/img/portfolio/thumbnails/range1.jpg" data-mfp-src="../../../../static/img/portfolio/range1.jpg" alt="Range Rover" magnific-popup>
                </div>
            </div>
            <div class="box">
                <div class="box-content">
                    <img class="open-popup-link mfp-prevent-close" src="../../../../static/img/portfolio/thumbnails/range2.jpg" data-mfp-src="../../../../static/img/portfolio/range2.jpg" alt="Range Rover" magnific-popup>
                </div>
            </div>
            <div class="box">
                <div class="box-content">
                    <img class="open-popup-link mfp-prevent-close" src="../../../../static/img/portfolio/thumbnails/f-pace.jpg" data-mfp-src="../../../../static/img/portfolio/f pace.jpg" alt="" magnific-popup>
                </div>
            </div>
            <div class="box">
                <div class="box-content">
                    <img class="open-popup-link mfp-prevent-close" src="../../../../static/img/portfolio/thumbnails/hotel.jpg" data-mfp-src="../../../../static/img/portfolio/hotel.jpg" alt="Hotel" magnific-popup>
                </div>
            </div>
            <div class="box">
                <div class="box-content">
                    <img class="open-popup-link mfp-prevent-close" src="../../../../static/img/portfolio/thumbnails/xe.jpg" data-mfp-src="../../../../static/img/portfolio/xe.jpg" alt="" magnific-popup>
                </div>
            </div>
            <div class="box">
                <div class="box-content">
                    <img class="open-popup-link mfp-prevent-close" src="../../../../static/img/portfolio/thumbnails/xf.jpg" data-mfp-src="../../../../static/img/portfolio/xf.jpg" alt="" magnific-popup>
                </div>
            </div>
            <div class="box">
                <div class="box-content">
                    <img class="open-popup-link mfp-prevent-close" src="../../../../static/img/portfolio/thumbnails/xj.jpg" data-mfp-src="../../../../static/img/portfolio/xj.jpg" alt="" magnific-popup>
                </div>
            </div>
            <div class="box">
                <div class="box-content">
                    <img class="open-popup-link mfp-prevent-close" src="../../../../static/img/portfolio/thumbnails/05.jpg" data-mfp-src="../../../../static/img/portfolio/05.jpg" alt="" magnific-popup>
                </div>
            </div>
            <div class="box">
                <div class="box-content">
                    <img class="open-popup-link mfp-prevent-close" src="../../../../static/img/portfolio/thumbnails/06.jpg" data-mfp-src="../../../../static/img/portfolio/06.jpg" alt="" magnific-popup>
                </div>
            </div>
            <div class="box">
                <div class="box-content">
                    <img class="open-popup-link mfp-prevent-close" src="../../../../static/img/portfolio/thumbnails/bf.jpg" data-mfp-src="../../../../static/img/portfolio/bf.jpg" alt="" magnific-popup>
                </div>
            </div>
            <div class="box">
                <div class="box-content">
                    <img class="open-popup-link mfp-prevent-close" src="../../../../static/img/portfolio/thumbnails/prim.jpg" data-mfp-src="../../../../static/img/portfolio/prim.jpg" alt="" magnific-popup>
                </div>
            </div>
            <div class="box">
                <div class="box-content">
                    <img class="open-popup-link mfp-prevent-close" src="../../../../static/img/portfolio/thumbnails/blacksmiths.jpg" data-mfp-src="../../../../static/img/portfolio/blacksmiths.jpg" alt="" magnific-popup>
                </div>
            </div>
            <div class="box">
                <div class="box-content">
                    <img class="open-popup-link mfp-prevent-close" src="../../../../static/img/portfolio/thumbnails/karas2.jpg" data-mfp-src="../../../../static/img/portfolio/karas2.jpg" alt="" magnific-popup>
                </div>
            </div>
        </div>
    </div>
    <div class="landing-wrapper" data-tabId="webDesignTab" id="webDesignTab">
        <div class="landing-inner-content" id="web_slider">
            <div class="box">
                <div class="box-content">
                    <img class="open-popup-link mfp-prevent-close" src="../../../../static/img/web/thumbnails/YourNurses.jpg" data-mfp-src="../../../../static/img/web/YourNurses.jpg" alt="Your nurses web site mockup" magnific-popup>
                </div>
            </div>
            <div class="box">
                <div class="box-content">
                    <img class="open-popup-link mfp-prevent-close" src="../../../../static/img/web/thumbnails/GoldenYears.jpg" data-mfp-src="../../../../static/img/web/GoldenYears.jpg" alt="Goldern Years web site mockup" magnific-popup>
                </div>
            </div>
            <div class="box">
                <div class="box-content">
                    <img class="open-popup-link mfp-prevent-close" src="../../../../static/img/web/thumbnails/Faint&Hope.jpg" data-mfp-src="../../../../static/img/web/Faint&Hope.jpg" alt="Faint & Hope web site mockup" magnific-popup>
                </div>
            </div>
            <div class="box">
                <div class="box-content">
                    <img class="open-popup-link mfp-prevent-close" src="../../../../static/img/web/thumbnails/ZenNoho.jpg" data-mfp-src="../../../../static/img/web/ZenNoho.jpg" alt="Faint & Hope web mockup" magnific-popup>
                </div>
            </div>
            <div class="box">
                <div class="box-content">
                    <img class="open-popup-link mfp-prevent-close" src="../../../../static/img/web/thumbnails/eternity.jpg" data-mfp-src="../../../../static/img/web/eternity.jpg" alt="Eternity   web mockup" magnific-popup>
                </div>
            </div>
            <div class="box">
                <div class="box-content">
                    <img class="open-popup-link mfp-prevent-close" src="../../../../static/img/web/thumbnails/CMWCUSA.jpg" data-mfp-src="../../../../static/img/web/CMWCUSA.jpg" alt="CMWCUSA   web mockup" magnific-popup>
                </div>
            </div>
            <div class="box">
                <div class="box-content">
                    <img class="open-popup-link mfp-prevent-close" src="../../../../static/img/web/thumbnails/EatNoho.jpg" data-mfp-src="../../../../static/img/web/EatNoho.jpg" alt="EAT Noho web mockup" magnific-popup>
                </div>
            </div>
            <div class="box">
                <div class="box-content">
                    <img class="open-popup-link mfp-prevent-close" src="../../../../static/img/web/thumbnails/Nomenclature.jpg" data-mfp-src="../../../../static/img/web/Nomenclature.jpg" alt="Nomenclature web site mockup" magnific-popup>
                </div>
            </div>
            <div class="box">
                <div class="box-content">
                    <img class="open-popup-link mfp-prevent-close" src="../../../../static/img/web/thumbnails/YourNurses.jpg" data-mfp-src="../../../../static/img/web/YourNurses.jpg" alt="Your nurses web site mockup" magnific-popup>
                </div>
            </div>
        </div>
    </div>
    <div class="large-triangle11" id="triangle11"></div>
</div>