<div class="sliders-place noselect projects-slider-container">
  <!-- PROJECTS -->
  <swiper :options="swiperOption" ref="myProjects">
    <swiper-slide v-for="(item, index) in projectsSliderImages" :key="index" class="box">
      <img class="open-popup-link mfp-prevent-close" :src="item.thumbnail" @click="openPopup(item.image,index)" :alt="item.title">
    </swiper-slide>
    <div class="swiper-button-prev" slot="button-prev"></div>
    <div class="swiper-button-next" slot="button-next"></div>
  </swiper>

  <el-dialog title=" " :append-to-body="true" class="projects-lightbox" :visible.sync="dialogTableVisible" @close="">
    <img :src="popupImage" class="popup-image">
    <div class="popup-controls">
        <div class="slider-prev" @click=navigate(-1)></div>
        <div class="slider-next" @click=navigate(1)></div>
    </div>
  </el-dialog>

</div>
