<div class="products-main">

  <Preloader v-if="isLoading" class="prelaoder"></Preloader>

  <div v-if="product.properties && !isLoading">
      <div class="bordered-block">
          <h3 class="product-category-title">{{ product[0].name }}</h3>  
          <div class="product-details-inner" :class="{'single-image': product.images.length==1}">
             <ProductImages :images="product.images"></ProductImages>
            <div class="product-detail-info">
              <p> {{ product[0].description }}
              </p>
              <div class="choices"> 
                <router-link class="btn-link" to="/custom-order">{{ $t('message.uploadOurselves') }}</router-link>  
              </div>
            </div>
          </div>
        </div>
        <div class="product-details-inner2" >
          <div class="left-block">
            <Uploader @filelistChange="onFileChange"></Uploader> 
          </div>
          <div class="right-block">
            <div class="parameters-item"  v-for="(value, key) in product.sortedProperties">
              <h3 class="param-label">{{ value._key }}</h3>
              <el-select v-model="value.selected" :placeholder="$t('message.select')" @change="onDropDownChange">
                <el-option v-for="(item, key) in value.options" :key="key" :label="item.name" :value="item.id">
                </el-option>
              </el-select>
            </div>
            <div class="summary-block" v-show="showPriceTotal && totalPrice">
              <h3 class="param-label">{{ $t('message.printingCost')}}:</h3>
              <p>{{ totalPrice }} </p>
            </div>
            <div class="btns-container">
              <a class="btn-submit btn-invert btn-1" 
               v-show="showPriceTotal && isDirty"
               @click="reset">{{ $t('message.cancel')}}</a>
               
              <a class="btn-submit btn-invert" 
                v-show="showPriceTotal" 
                :disabled="isLoading" 
                @click="addProductToCart()" 
                :class="{disabled: !isDirty}">{{ $t('message.continue')}}</a>
            </div>
          </div>
        </div>
  </div> 
</div> 