<div class="products-main">
  <div class="bordered-block" v-if="product.properties">
    <h3 class="product-category-title">{{ productInfo.name }}</h3>
    <div class="product-details-inner" :class="{'single-image': product.images.length==1}">
      <el-carousel v-if="product.images.length" :autoplay="false" trigger="click" indicator-position="outside" arrow="never" class="product-slider">
        <el-carousel-item v-for="(item, index) in product.images" :key="index">
          <img :src="item.image" alt="">
        </el-carousel-item>
      </el-carousel>
      <img src="../../../static/img/products/1.png" class="no-image-palceholder" alt="No image" v-else>
      <div class="product-detail-info">
        <p> {{ productInfo.description }}
        </p>
        <div class="choices">
          <!-- <a href="" class="btn-link btn-bright">բեռնել ձեր ֆայլը</a> -->
        <!--   <el-upload class="upload-demo" action="https://jsonplaceholder.typicode.com/posts/" :on-change="handleChange1" :auto-upload="false"
            :on-remove="handleRemove">
            <el-button size="small" type="primary" class="btn-submit btn-invert">{{ $t('message.uploadFile') }}</el-button>
          </el-upload>
          <span>{{ $t('message.or') }}</span> -->
          <a class="btn-link">{{ $t('message.uploadOurselves')}} </a>
        </div>
      </div>
    </div>
  </div>
  <div class="product-details-inner2" v-if="product.properties">
    <div class="left-block">
      <div class="uploads-container">
        <div class="upload-img" v-bind:style='styleObject1' style="margin-right:30px"></div> 
        <div class="upload-img" v-bind:style='styleObject2'></div>
      </div>
      <p class="upload-description">{{ $t('message.uploadFileDescription') }}</p>
     

      <!-- <a  class="btn-submit btn-invert">բեռնել ֆայլ </a> -->
      <el-upload class="upload-demo up-demo1" accept="image/*" action="https://jsonplaceholder.typicode.com/posts/" :on-change="handleChange1"
        :file-list="fileList1" :auto-upload="false" :on-remove="onHandleRemove1">
        <el-button size="small" type="primary" class="btn-submit btn-invert">{{ $t('message.uploadFile1')}}</el-button>  
      </el-upload> 
     
      <el-upload class="upload-demo" accept="image/*" action="https://jsonplaceholder.typicode.com/posts/" :on-change="handleChange2"
      :file-list="fileList2" :auto-upload="false" :on-remove="onHandleRemove2">
      <el-button size="small" type="primary" class="btn-submit btn-invert">{{ $t('message.uploadFile2')}}</el-button> 
    </el-upload>

    <div class="el-upload__tip">{{ $t('message.sizeRestriction')}}</div>
    </div>
    <div class="right-block">
      <div class="parameters-item" v-for="(value, key) in product.properties">
        <h3 class="param-label">{{ key }}</h3>
        <el-select v-model="value.selected" :placeholder="$t('message.select')" @change="onDropDownChange">
          <el-option v-for="(item, key) in value.options" :key="key" :label="item.name" :value="item.id">
          </el-option>
        </el-select>
      </div>
      <div class="summary-block" v-show="showPriceTotal && totalPrice">
        <h3 class="param-label">{{ $t('message.printingCost')}}:</h3>
        <p>{{ totalPrice }} </p>
      </div>
      <div class="btns-container">
        <a class="btn-submit btn-invert btn-1" v-show="showPriceTotal && isDirty" @click="reset">{{ $t('message.cancel')}}</a>
        <a class="btn-submit btn-invert" v-show="showPriceTotal" :disabled="isLoading" @click="addProductToCart()" :class="{disabled: !isDirty}">{{ $t('message.continue')}}</a>
      </div>
    </div>
  </div>
</div>
