<div class="hamburger hamburger--slider" :class="{'is-active':isActive}">
    <div class="hamburger-box" @click="isActive=!isActive">
        <div class="hamburger-inner"></div>
    </div>
    <div class="nav-dropdown" v-show="isActive">
        <ul class="nav sidemenu">
            <li><a class="menu-item" @click="goTo()">{{ $t('message.dropdown.item1') }}</a></li>
            <li><a class="menu-item" @click="goTo('services')">{{ $t('message.dropdown.item2') }}</a></li>
            <li><a class="menu-item" @click="goTo('about-us')">{{ $t('message.dropdown.item3') }}</a></li>
            <li><a class="menu-item" @click="goTo('projects')">{{ $t('message.dropdown.item4') }}</a></li>
            <li><a class="menu-item" @click="goTo('why')">{{ $t('message.dropdown.item5') }}</a></li>
            <li><a class="menu-item" @click="goTo('staff')">{{ $t('message.dropdown.item6') }}</a></li>
            <li><a class="menu-item" @click="goTo('contact-us')">{{ $t('message.dropdown.item7') }}</a></li>
            <li><a class="menu-item" @click="isActive=false; $router.push({name:'Categories',params: {id:1}})">{{ $t('message.dropdown.item8') }}<span class="line-elem-menu"></span></a></li>
        </ul> 
    </div>
</div>