.on-signup {
    font-size: 14px;
    color: #434343;
    text-transform: initial;
    padding: 20px 0 6px;
}

.create-link {
    color: #af995a;
    font-size: 14px;
    text-transform: capitalize;
}

.el-icon-close {
    position: absolute;
    right: 13px;
    top: 8px;
    font-size: 21px;
    color: #b2b2b2;
    cursor: pointer;
}

.navigation-container {
    display: inline-flex
}
 
.el-input__icon {
    line-height: 39px;
    cursor: pointer
}
.password-recovery-input {
    margin-bottom: 20px;
}