<header data-scroll-index="0" id="appHeader" class="normal-header">
    <nav class="nav-bar">
        <div class="container nav-container nav1">
            <a @click="$router.push({ name: 'Home'})" class="left-floated logo-link">
                <div class="logo-place"></div>
            </a>
            <div class="navigation-container  right-floated"> 
                <ul class="nav sidemenu">
                    <li v-show="!isAuthenticated">
                        <a class="btn-link" style="margin-right: -13px;" @click="showLoginDropdown=true">Մուտք
                            <div class="login-dropdown-content" v-show="showLoginDropdown">
                                <i class="el-icon-close" @click.stop="hideLoginDropdown"></i>
                                <Login 
                                    v-if="loginMode"
                                    v-on:LoginSuccess="onLoginSuccess"/>

                                <div class="forgot-pass-block" v-else>
                                   <form v-on:submit.prevent="onPassRecovery" 
                                        @submit="$v.recoveryMail.$touch();"> 
                                        <el-input class="password-recovery-input" 
                                            v-model="recoveryMail" 
                                            :class="{'has-error': $v.recoveryMail.$error}"
                                            :placeholder="$t('message.form.email')">
                                        </el-input> 
                                        <input type="submit" class="btn-submit btn-invert" :value="$t('message.form.recovery')">
                                        <a class="forgot-pass-link" @click="loginMode=true">{{ $t('message.form.back') }}</a> 
                                    </form>
                                </div>
                                <h5 class="on-signup">{{ $t('message.form.noProfile') }}</h5>
                                <a @click.stop="toSignupPage" class="create-link">{{ $t('message.form.createPage') }}</a>
                            </div>
                         </a>
                    </li>
                    <li v-show="!isAuthenticated">
                        <a class="btn-link btn-bright" href="javascript:void(0)" @click="toSignupPage">Գրանցվել</a>
                    </li>
                    <li v-show="isAuthenticated">
                        <a class="btn-link btn-bright" href="javascript:void(0)" @click="logout">
                            {{ $t('message.logout') }}
                        </a>
                    </li>
                    <li class="search-holder">
                        <Search />
                    </li>
                    <!-- LOCALE TOGGLER -->
                    <li class="lang-toggler">
                        <a href="javascript:void(0)" v-for="item in locales" @click="toggleLang(item.locale)" :class="{'active-lang':item.activeLocale}" class="menu-item-lang">{{ item.localeName }}</a>
                    </li> 
                    <li> 
                        <Hamburger />
                    </li>
                </ul>
            </div> 
        </div>
    </nav>
</header>