<section class="services-section" id="reasons-section">
    <div class="section-title-place">
        <div class="letter-divider">
            <h6>04</h6>
        </div>
        <h5>{{ $t('message.why.title') }}</h5>
        <span class="vert-line"></span>
    </div>
    <div class="services-inner flex-section boxes-type-2" id="service-boxes">
        <div class="services-box" onclick="void(0)">
            <div class="box-image"></div>
            <h2 class="box-title">{{ $t('message.services.graphicService.word1') }}
                <br>{{ $t('message.services.graphicService.word2') }}</h2>
            <p class="box-text">{{ $t('message.services.graphicService.text') }}</p>
        </div>
        <div class="services-box" onclick="void(0)">
            <div class="box-image"></div>
            <h2 class="box-title">{{ $t('message.services.webDesign.word1') }}
                <br>{{ $t('message.services.webDesign.word2') }}</h2>
            <p class="box-text">{{ $t('message.services.webDesign.text') }}</p>
        </div>
        <div class="services-box" onclick="void(0)">
            <div class="box-image"></div>
            <h2 class="box-title">{{ $t('message.services.outdoor.word1') }}
                <br>{{ $t('message.services.outdoor.word2') }}</h2>
            <p class="box-text">{{ $t('message.services.outdoor.text') }}</p>
        </div>
        <div class="services-box" onclick="void(0)">
            <div class="box-image"></div>
            <h2 class="box-title">{{ $t('message.services.promo.word1') }}
                <br>{{ $t('message.services.promo.word2') }}</h2>
            <p class="box-text">{{ $t('message.services.promo.text') }}</p>
        </div>
        <div class="services-box" onclick="void(0)">
            <div class="box-image"></div>
            <h2 class="box-title">{{ $t('message.services.digitalPrinting.word1') }}
                <br>{{ $t('message.services.digitalPrinting.word2') }}</h2>
            <p class="box-text">{{ $t('message.services.digitalPrinting.text') }}</p>
        </div>
        <div class="services-box" onclick="void(0)">
            <div class="box-image"></div>
            <h2 class="box-title">{{ $t('message.services.offsetPrinting.word1') }}
                <br>{{ $t('message.services.offsetPrinting.word2') }}</h2>
            <p class="box-text">{{ $t('message.services.offsetPrinting.text') }}</p>
        </div>
        <div class="services-box" onclick="void(0)">
            <div class="box-image"></div>
            <h6 class="box-title">{{ $t('message.services.largePrinting.word1') }}
                <br>{{ $t('message.services.largePrinting.word2') }}</h6>
            <p class="box-text">{{ $t('message.services.largePrinting.text') }}</p>
        </div>
        <div class="services-box" onclick="void(0)">
            <div class="box-image"></div>
            <h2 class="box-title">{{ $t('message.services.otherServices.word1') }}
                <br>{{ $t('message.services.otherServices.word2') }}</h2>
            <p class="box-text">{{ $t('message.services.otherServices.text') }}</p>
        </div>
    </div>
</section>