.new-service-types-boxes {
    display: flex;
    width: 1157px;
    margin: 0 auto 100px;
    .service-item {
      width: 230px;
      height: 150px;
      background: black;
      border: 1px solid #212121;
      border-radius: 20px;
      z-index: 1;
      p {
        color: white;
        font-size: 14px;
        text-transform: uppercase;
        width: 151px;
        margin: 0 auto;
        line-height: 20px;
      }
      .item-graphic {
        @extend .sprite-png;
        display: block;
        margin: 0 auto;
        display: block;
        width: 52px;
        height: 52px;
        margin-top: 16px;
        margin-bottom: 23px;
      }
    }
    .service-item-container {
      display: flex;
      opacity: 0;
      position: relative;
      overflow: hidden;
      .pointer {
        @extend .sprite-png;
        background-position: -256px -213px;
        width: 61px;
        height: 60px;
        margin: 19px 8px 0 10px;
        opacity: 0;
       // transform: translateX(-105px)
      }
    }
    .service-item-container:nth-child(1) {
      .item-graphic {
        background-position: -14px -223px;
      }
    }
    .service-item-container:nth-child(2) {
      .item-graphic {
        background-position: -75px -223px;
      }
    }
    .service-item-container:nth-child(3) {
      .item-graphic {
        background-position: -135px -223px;
      }
    }
    .service-item-container:nth-child(4) {
      .item-graphic {
        background-position: -190px -223px;
      }
    }
  }
  
  .new-service-types-boxes.animated {
    .service-item-container {
      animation-duration: 0.5s;
      animation-fill-mode: both;
      opacity: 1;
      .pointer {
        animation-fill-mode: both;
        opacity: 1;
      }
    }
    .service-item-container:nth-child(1) {
      animation-delay: 2s;
      .pointer {
        animation-delay: 2.3s; 
      }
    }
    .service-item-container:nth-child(2) {
      animation-delay: 2.5s;
      .pointer {
        animation-delay: 2.8s; 
      }
    }
    .service-item-container:nth-child(3) {
      animation-delay: 3s;
      .pointer {
        animation-delay: 3.3s; 
      }
    }
    .service-item-container:nth-child(4) {
      animation-delay: 3.4s;
    }
  }
  
  .new-service-ad-texts.animated p {
    animation-duration: 0.8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: 0s;
    opacity: 1;
  }
  
  .new-service-ad-texts {
    margin-top: 0;
    padding-top: 271px;
    margin-bottom: 114px;
    p {
      font-size: 40px;
      opacity: 0;
    }
    p.big-text {
      font-size: 60px;
      color: #ae9957 !important;
      margin-top: 12px;
      margin-bottom: 7px;
    }
  }
.banner1-text {
    padding-top: 355px;
    line-height: 0px;
    margin-bottom: 148px;
}
  #animation_container {
    position: absolute;
    left: 50%;
    top: 118px;
    bottom: 88px;
    width: 498px;
    transform: translateX(-50%);
  }
  
  .banner-see-more-link { 
    font-size: 24px;
    background: #af995a;
    width: 400px;
    border-radius: 22px;
    display: block;
    width: 400px
  }

  @media only screen and (max-width: 512px) {
    .banner-see-more-link {
      width: 80% !important;
      font-size: 18px;
    }
    .main-banner-text { 
        font-size: 21px; 
    }
  }